<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/user/dashboard">
            <i class="fas fa-brain me-2"></i>Quiz Platform
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <% if (user && user.role === 'admin') { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/quiz/admin/dashboard">Admin Dashboard</a>
                    </li>
                <% } %>
            </ul>
            
            <ul class="navbar-nav">
                <% if (user) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user me-1"></i>Hello, <%= user.username %>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <% if (user.role === 'user') { %>
                                <li><a class="dropdown-item" href="/user/profile">
                                    <i class="fas fa-user me-2"></i>Profile
                                </a></li>
                                <li><a class="dropdown-item" href="/user/results">
                                    <i class="fas fa-chart-bar me-2"></i>Results
                                </a></li>
                                <li><hr class="dropdown-divider"></li>
                            <% } %>
                            <li><a class="dropdown-item" href="/logout">
                                <i class="fas fa-sign-out-alt me-2"></i>Logout
                            </a></li>
                        </ul>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>